// Brand Colour definitions
$BackloggerBlue: #517cdf;

// Primaries
$red : #E44;
$green: #6F6;
$blue: $BackloggerBlue;
$black: #2e2e2e;
$white: #F8F8F8;
$light-grey: #DDD;
$light-blue: #718cef;

// Text colours
$TextColour: $black;
$TextInvertColour: $white;

// Table colours
$TableBorderColour: $light-grey; 
$TableHeadRowColour: $light-blue;