// Brand Colour definitions
$backlogger-blue: #517cdf;

// Primaries
$red : #e44;
$green: #6f6;
$blue: $backlogger-blue;
$black: #2e2e2e;
$white: #f8f8f8;
$light-grey: #ddd;
$light-blue: #718cef;

// Table colours
//TODO: move to tables definitions
$table-border-colour: $light-grey;
$table-headrow-Colour: $light-blue;
