// Brand Colour definitions
$backlogger-blue: #517cdf;

// Primaries
$red : #E44;
$green: #6F6;
$blue: $backlogger-blue;
$black: #2e2e2e;
$white: #F8F8F8;
$light-grey: #DDD;
$light-blue: #718cef;

// Table colours
//TODO: move to tables definitions
$table-border-colour: $light-grey; 
$table-headrow-Colour: $light-blue;