@import 'functions.scss';
@import 'colours.scss';

// Size definitions
$font-size-h1: px2rem(28px);
$font-size-h2: px2rem(21px);

$font-size-main: px2rem(14px);

// Colours
$font-colour: $black;
$font-colour-invert: $white;

//Font families:
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
